<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>MY APP</title>
    </head>
    <body>
        <h1>Welcome to my App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.
            Sed auctor libero sed nisi scelerisque, et vehicula purus ultrices. Integer gravida scelerisque erat, nec laoreet sem tincidunt sed.
            Fusce dapibus metus sed velit vehicula, sit amet sollicitudin augue egestas.
            Curabitur quis diam nec elit faucibus placerat. Nulla facilisi. Mauris tincidunt, dolor sit amet luctus fermentum,
            orci orci dignissim ex, et tristique velit justo eget nulla. Suspendisse potenti. Ut in lacus ut elit lacinia tincidunt.
            Phasellus ac velit ut magna fringilla ultrices non non turpis.
        </p>
    </body>
</html>